{% extends 'SiteBundle::main.html.twig' %}

{% block title %}
    {{ artist.name|e }} | изпълнител
{% endblock %}

{% block content %}
    <h1>
        {{ artist.name }}
    </h1>

    {% if artist.about %}
        <div class="t-artist-info-legend">
            Информация:
        </div>

        <div class="t-artist-info">
            {{ artist.about|e|nl2br }}
        </div>
    {% endif %}

    {% if artist.albums %}
        <div class="container t-artist-albums">
            <h2>Албуми</h2>
            <div class="clearfix"></div>
            {% for album in artist.albums %}
                <div class="col-md-3">
                    <a href="{{ path('tekstove_site_album_view', {id: album.id}) }}">
                        {% if album.year %}
                            ({{ album.year }})
                            <br/>
                        {% endif %}
                        {{ album.name|e }}
                        <img src="{{ album.image|e }}" alt="Обложка на албума" />
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
    <br/>
    <br/> <br/>

    <h2>Песни</h2>
    {% for lyric in lyrics %}
        <a href="{{ path('lyricView', {id:lyric.id}) }}">{{ lyric.title|e }}</a>
        <br/>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(lyrics) }}
    </div>
{% endblock %}
