{% extends 'SiteBundle::main.html.twig' %}

{% block title %}
    {{ album.name }} | Албуми
{% endblock %}

{% block content %}
    <h1>
        {{ album.name|e }}
        {% if album.year is not empty %}
            ({{ album.year }})
        {% endif %}
    </h1>
    
    {% if album.artists %}
        Изпълнители:
        {% include '@TekstoveSite/partial/artistList.html.twig' with {'artists': album.artists} only %}
    {% endif %}
    
    {% if (album.acl('edit')) %}
        <a class="btn btn-warning" href="#">Промени</a>
    {% endif %}

    <ol>
        {% for lyric in album.lyrics %}
            <li>
                {% if lyric.isLyric %}
                    <a href="{{ path('lyricView', {id:lyric.lyric.id}) }}">
                        {{ lyric.lyric.title|e }}
                    </a>
                {% else %}
                    {{ lyric.getLyricName|e }}
                {% endif %}
        {% endfor %}
    </ol>
    
    <img src="{{ album.image|e }}">
    
    <br/>
    Изпратено от <a href="{{ path('userView', { id:album.sendByUser.id }) }}">{{ album.getSendByUser.username|e }}</a>
{% endblock %}
