{% extends 'SiteBundle::Main/html.html.twig' %}
{% block htmlBody %}
    <div class="container-fluid">
        <div class="row t-top-menu">
            <div class="col-md-6 t-nomargin t-nopadding">
                <div class="t-top-menu-right">
                    <a title="Начална страница" href="/">
                        <img alt="Начало" src="/bundles/site/images/logo_1.jpg">
                    </a>
                </div>
            </div>
            <div class="col-md-2 hidden-sm hidden-xs">
                <div class="t-top-menu-container">
                    <span class="top_menu_gore_dqsno">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/">Начало</a><br/>
                        {#&nbsp;&nbsp;<a href="#" rel="search"><del>Разгледай</del></a><br/>#}
                        {#<a href="#"><del>Албуми</del></a><br/><br/>#}
                    </span>
                </div>
            </div>
            <div class="col-md-2 hidden-sm hidden-xs">

                <div class="t-top-menu-container">
                    <span class="top_menu_gore_dqsno">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('tekstove_site.lyric.search') }}" rel="search">Търсачка</a><br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('tekstove.site.forum.category.list') }}">Форум</a><br/>
                        &nbsp;&nbsp;&nbsp;<a href="{{ path("chat") }}">Чат</a>
                    </span>
                </div>
            </div>
            <div class="col-md-2 hidden-sm hidden-xs">
                <div class="t-top-menu-container">
                    <span class="top_menu_gore_dqsno">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('lyricAdd') }}">Изпрати Tекст</a>&nbsp;<br/>
                        {#&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><del>Изпрати Албум</del></a>#}
                    </span>
                </div>
            </div>
        </div>

        {% include '@TekstoveSite/Main/Menu/horizontal.html.twig' %}

        <div class="row hidden-xs">
            <div class="t-top-letters-above"></div>
            <div class="t-letters" id="bukvi_bg"></div>
            <div class="t-top-letters-below"></div>
        </div>

        <div class="container-fluid">
            <div class="col-md-2">

                {% if app.user %}
                    <div class="panel panel-default hidden-xs">
                        <div class="panel-body">
                            {% include '@TekstoveSite/Main/userMenu.html.twig' %}
                        </div>
                    </div>
                {% endif %}

                <div class="gore_dolu_zaoblqne_blqvo">
                    <div class="gore_dolu_zaoblqne_blqvo_margin_text">
                        <a href="{{ path('tekstove_site.lyric.search') }}">Търсачка</a>
                        <br/>
                        {#<a href="#"><del>Топ 100 популярни</del></a>
                        <br/>#}
                        {#<a href="#"><del>Топ 100 гласувани</del></a>
                        <br/>#}
                        {#<a href="#"><del>Топ 100 преглеждани</del></a>
                        <br/>#}
                        {#<a href="#"><del>Нови 100 гласа</del></a>
                        <br/>#}
                        <a href="{{ path('tekstove.site.forum.category.list') }}">Форум</a>
                        <br/>
                        <a href="{{ path('tekstove.site.forum.post.newest') }}">&#187;&nbsp;Нови мнения</a>
                        <br/>
                        <a href="{{ path('tekstove.site.forum.topic.list', { categoryId: 1 }) }}">&#187;&nbsp;Заявки за текстове</a>
                        <br/>
                        {#<a href="#"><del>&#187;&nbsp;&#187;&nbsp;Нова заявки за текст</del></a>
                        <br/>#}
                        <a href="{{ path('tekstove.site.forum.topic.list', { categoryId: 6 }) }}">&#187;&nbsp;Заявки за превод</a>
                        <br/>
                        {#<a href="#"><del>&#187;&nbsp;&#187;&nbsp;Нова&nbsp;заявка&nbsp;за&nbsp;превод</del></a>
                        <br/>#}
                        <a href="{{ path('lyricAdd') }}">Изпрати текст</a>
                        <br/>
                        {#<a href="#"><del>Нови коментари</del></a>
                        <br/>#}
                        {#<a href="#"><del>Списък с Потребители</del></a>
                        <br />#}
                        {#<a href="#"><del>Лист потребителски групи</del></a>
                        <br/>#}
                        <a href="{{ path('contacts') }}">Връзка с нас</a>
                        <br/>
                        <a href="http://feeds.feedburner.com/tekstove/zJFY?format=xml" title="RSS нови мнения във форума">
                            <img src="{{ asset('bundles/site/images/rss_20x15.png') }}" alt="rss" />
                            Нови мнения - форум
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-8 t-content">
                {% block content %}{% endblock %}
            </div>

            <div class="col-md-2">
                {% include '@TekstoveSite/Main/rightPart.html.twig' %}
            </div>
        </div>
        <div class="container-fluid">
            <div style="width:100%;text-align:center;background-color:#AAAAAA;">

                <span style="color: #fff">www.tekstove.info 2008-2017</span>,
                <a href="{{ path('contacts') }}" title="Искате да се свържете с нас"><span style="color: #ccc">връзка с нас</span></a>,
                <a href="{{ path('tekstove.site.forum.topic.view', {id: 568}) }}" target="_BLANK" style="color: #fff;">правила</a>
            </div>
        </div>
    </div>
{% endblock %}
