{% extends 'TekstoveBundle::main.html.twig' %}

{% block content %}
    <div class="col-md-6">
        <div class="t-index-lyrics-block-container">
            <div class="t-index-lyrics-block-header">
                най-нови текстове
            </div>
            <div class="t-index-lyrics-block-lyrics-container">
                {% for lyric in lastlyrics %}
                    <a href="{{ path('lyricView', {id:lyric.id}) }}">
                        {{ lyric.cacheTitleShort }}
                    </a>
                    <br/>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-6 ">
        <div class="t-index-lyrics-block-container">
            <div class="t-index-lyrics-block-header">
                най-нови преводи
            </div>
            <div class="t-index-lyrics-block-lyrics-container">
                {% for lyric in lastTranslated %}
                    <a href="{{ path('lyricView', {id:lyric.id}) }}">
                        {{ lyric.cacheTitleShort }}
                    </a>
                    <br />
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-6">
        <div class="t-index-lyrics-block-container">
            <div class="t-index-lyrics-block-header">
                <a href="#">
                    текстове популярни напоследък  -- Топ 100
                </a>
            </div>
            <div class="t-index-lyrics-block-lyrics-container">
                {% for lyric in popular %}
                    <a href="{{ path('lyricView', {id:lyric.id}) }}">
                        {{ lyric.cacheTitleShort }}
                    </a>
                    <br />
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="t-index-lyrics-block-container">
            <div class="t-index-lyrics-block-header">
                <a href="#">
                    <b>най-преглеждани текстове</b>&nbsp;&nbsp;&nbsp;&nbsp;Топ 100
                </a>
            </div>
            <div class="t-index-lyrics-block-lyrics-container">
                {% for lyric in mostViewed %}
                    <a href="{{ path('lyricView', {id:lyric.id}) }}">
                        {{ lyric.cacheTitleShort }}
                    </a>
                    <br />
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-6">
        <div class="t-index-lyrics-block-container">
            <div class="t-index-lyrics-block-header">
                <a href="#">
                    последно гласувани&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;100 последни
                </a>
            </div>
            <div class="t-index-lyrics-block-lyrics-container">
                {% for lyric in lastVoted %}
                    <a href="{{ path('lyricView', {id:lyric.id}) }}">
                        {{ lyric.cacheTitleShort }}
                    </a>
                    <br />
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="t-index-lyrics-block-container">
            <div class="t-index-lyrics-block-header">
                произволни текстове от любими
            </div>
            <div class="t-index-lyrics-block-lyrics-container">
                {% for lyric in favoritesRandom %}
                    <a href="{{ path('lyricView', {id:lyric.id}) }}">
                        {{ lyric.cacheTitleShort }}
                    </a>
                    <br />
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-12 t-index-albums-container">
        <i><b>най-нови албуми</b></i><br>
        <table class="albums" style="text-align: center;">
            <tr>
                {% for album in albums %}
                    <td class="albumstd" style="text-align: center;">
                        <a href="#{{ album.id }}">
                            <b>
                                {{ album.name|e }}
                                <br />
                                <i>({{ album.year|e }})</i>
                                <br />
                                <img src="{{ album.image|e }}" style="width: 130px; height: 130px;" alt="Обложка" />
                                <br/>
                            </b>
                        </a>
                    </td>
                {% endfor %}
            </tr>
        </table>
    </div>

{% endblock %}