{% extends '@Site/main.html.twig' %}

{% block title %}
    Форум | {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row t-forum-breadcrumb">
        <a href="{{ path('tekstove.site.forum.category.list') }}">Форум</a>
    </div>
    
    <table class="t-forum table table-striped table-hover">
        <tr>
            <th>
                Категория
            </th>
            <th>
                Последно мнение
            </th>
        </tr>
        {% for category in categories %}
            <tr>
                <td class="t-forum-main-td">
                    <a href="{{ path('tekstove.site.forum.topic.list', { categoryId:category.id }) }}">
                        <div clsas="container-fluid">
                            <b>
                                {{ category.name }}
                            </b>
                        </div>
                    </a>
                </td>
                <td>
                    {% if category.lastTopic is not empty %}
                        <a href="{{ path('tekstove.site.forum.topic.view', { id:category.lastTopic.id }) }}">
                            <i>в тема</i>
                            <b>
                                {{ category.lastTopic.name }}
                            </b>
                            <br/>
                            <small>
                                <i>от</i>
                                {{ category.lastTopic.latestPost.user.username }}
                                <i>
                                    ,
                                    на
                                </i>
                                {{ category.lastTopic.latestPost.datetime|date }}
                            </small>
                        </a>
                    {% else %}
                        <i>няма теми :(</i>
                    {% endif %}
                </td>
        {% endfor %}
    </table>
{% endblock %}
