{% extends 'SiteBundle::main.html.twig' %}
{% block content %}
    <table class="table table-striped table-hover">
        <tr>
            <th style="background-color: #DDDDff; border-bottom: 2px solid #000;">
                Категория
            </th>
            <th style="background-color: #FCC0FF; border-bottom: 2px solid #000;">
                Последно мнение
            </th>
        </tr>
        {% for category in categories %}
            <tr>
                <td>
                    <a href="{{ path('tekstove.site.forum.topic.list', { categoryId:category.id }) }}">
                        <div clsas="container-fluid" style="height: 100%; margin-top: auto;">
                            <b>
                                {{ category.name }}
                            </b>
                        </div>
                    </a>
                </td>
                <td>
                    {% if category.lastTopic is not empty %}
                        <a href="{{ path('tekstove.site.forum.topic.view', { id:category.lastTopic.id }) }}">
                            <i>в тема</i>
                            <b>
                                {{ category.lastTopic.name }}
                            </b>
                            <br/>
                            <small>
                                <i>от</i>
                                {{ category.lastTopic.latestPost.user.username }}
                                <i>
                                    ,
                                    на
                                </i>
                                {{ category.lastTopic.latestPost.datetime|date }}
                            </small>
                        </a>
                    {% else %}
                        <i>няма теми :(</i>
                    {% endif %}
                </td>
        {% endfor %}
    </table>
{% endblock %}
