{% extends 'SiteBundle::main.html.twig' %}

{% block title %}
    Най-популярни песни {{ monthName|trans }} {{year}}
{% endblock %}

{% block content %}

    <h1>
        Най-популярни песни {{ monthName|trans }} {{year}}
    </h1>

    <table class="table">
        <tr>
            <thead>
                <th>
                    №
                </th>
                <th>
                    Песен
                </th>
                <th>
                    Популярност
                </th>
            </thead>
        </tr>
        {% for lyricHistory in lyricsHistory %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    <a href="{{ path('lyricView', { id: lyricHistory.lyric.id }) }}">
                        {{ lyricHistory.lyric.cacheTitleShort }}
                    </a>
                </td>
                <td>
                    {{ lyricHistory.popularity }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <nav>
        <ul class="pagination">
        {% if prevMonthLink %}
            <li>
                <a href="{{ prevMonthLink }}">
                    « Предишен месец
                </a>
            </li>
        {% endif %}

        {% if nextMonthLink %}
            <li>
                <a href="{{ nextMonthLink }}">
                    Следващ месец »
                </a>
            </li>
        {% endif %}
        </ul>
    </nav>
{% endblock %}
