{% extends 'SiteBundle::main.html.twig' %}
{% block content %}
    {{ form_start(form) }}

    {% if form.artists is defined %}
        {{ form_row(form.artists) }}
    {% endif %}
    
    {{ form_row(form.title) }}
    
    {{ form_rest(form) }}
    
    {{ form_end(form) }}
    
    {% if lyricPaginate %}
        
        {% if lyricPaginate is empty %}
            не намирам нищо :(
        {% endif %}
        
        {% for lyric in lyricPaginate %}
            <a href="{{ path('lyricView', {id: lyric.id}) }}">
                {{ lyric.cacheTitleShort|e }}
            </a>
            <br/>

        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(lyricPaginate) }}
        </div>
    {% endif %}
{% endblock %}
