{% extends 'SiteBundle::main.html.twig' %}
{% block content %}
    <div class="row" style="background-color:#EEEEEE;">
        <div class="col-md-6" style="background-color:#EEEEEE;">
            гледания: {{ lyric.views }}, популярност: {{ lyric.popularity }}
        </div>
        
        <div class="col-md-6" style="text-align:right;">
            {% if (lyric.acl('edit')) %}
                &nbsp;&nbsp;<a href="{{ path('lyricEdit', {id:lyric.id}) }}">Промени</a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <h1>
                {% for artist in lyric.artists %}
                    {{ artist.name }}
                    {% if not loop.last %}
                        и
                    {% endif %}
                {% endfor %}

                {% if lyric.artists is not empty %}
                    - 
                {% endif %}
                {{ lyric.title }}
            </h1>
        </div>
    </div>

{% if lyric.videoYoutube is not empty %}
    <div class="row">
        youtube: {{ lyric.videoYoutube }}
    </div>
{% endif %}
    
{% if lyric.videoVbox7 is not empty %}
    <div class="row">
        vbox7: {{ lyric.videoVbox7 }}
    </div>
{% endif %}
    
    <div class="row">
        {% if (lyric.sendByUser) %}
            <div style="float:left;">
                изпратено от:
                <b>
                    <a href="{{ path('userView', { id:lyric.sendByUser.id }) }}">
                        {{ lyric.sendByUser.username }}
                    </a>
                </b> 
            </div>
        {% endif %}
    </div>

    <div class="row">
        {% if lyric.languages is not empty %}
            езици:
            {% for language in lyric.languages %}
                {{ language.name }}
                {% if not loop.last %}
                    ,
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <br/>
    <div class="row">
        <div class="col-md-6">
            {{ lyric.text|nl2br }}
        </div>
{% if (lyric.getTextBg) %}
        <div class="col-md-6">
            {{ lyric.textBg|nl2br }}
        </div>
{% endif %}
    </div>
{% endblock %}
