{% extends 'SiteBundle::main.html.twig' %}

{% block title %}
    {% if lyric.artists|length > 0 %}
        {{ lyric.artists.0.name }}
        {% if lyric.artists|length > 1 %}
            и {{ lyric.artists.1.name }}
        {% endif %}
        -
    {% endif %}
    {{ lyric.title }}
    | текст
    {% if (lyric.getTextBg) %}
    и превод
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6" id="lyric-stats">
            гледания: {{ lyric.views }}, популярност: {{ lyric.popularity }}, изпратена на {{ lyric.getSendDate|date("m.d.Y") }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <h1>
                {% include '@TekstoveSite/partial/artistList.html.twig' with {'artists': lyric.artists} only %}

                {% if lyric.artists is not empty %}
                    - 
                {% endif %}
                {{ lyric.title }}
            </h1>
        </div>
            <div class="col-md-2">
                {% if (lyric.isEditAllowed) %}
                    <a class="btn btn-warning" href="{{ path('lyricEdit', {id:lyric.id}) }}">Промени</a>
                {% endif %}
            </div>
    </div>
            
{% if lyric.hasVideo %}
    <div class="row" id="tabs">
        <ul>
{% if lyric.videoYoutube is not empty %}
            <li>
                <a href="#lyric-video-youtube">
                    YouTube
                </a>
            </li>
{% endif %}
{% if lyric.videoVbox7 is not empty %}
            <li>
                <a href="#lyric-video-vbox7">
                    Vbox7
                </a>
            </li>
{% endif %}

        </ul>
{% if lyric.videoVbox7 is not empty %}
        <div id="lyric-video-vbox7">
            <div class="row">
                <script>
                    document.write(videoVbox('{{ lyric.videoVbox7|e('js') }}'));
                </script>
            </div>
        </div>
{% endif %}

{% if lyric.videoYoutube is not empty %}
        <div id="lyric-video-youtube">
            <div class="row">
                <script>
                    document.write(videoYouTube('{{ lyric.videoYoutube|e('js') }}'));
                </script>
            </div>
        </div>
{% endif %}
    </div>
{% endif %}

    <script>
        $(function(){
            $("#tabs").tabs();
        });
    </script>

    <div class="row">
        {% if (lyric.sendByUser) %}
            <div style="float:left;">
                изпратено от:
                <b>
                    <a href="{{ path('userView', { id:lyric.sendByUser.id }) }}">
                        {{ lyric.sendByUser.username }}
                    </a>
                </b> 
            </div>
        {% endif %}
    </div>

    {% if lyric.languages is not empty %}
        <div class="row">
                езици:
                {% for language in lyric.languages %}
                    {{ language.name }}
                    {% if not loop.last %}
                        ,
                    {% endif %}
                {% endfor %}
        </div>
    {% endif %}

    {% if lyric.publishers is not empty %}
        <div class="row">
            издатели:
            {% for publisher in lyric.publishers %}
                <a href="{{ path('app.publisher.view', {id:publisher.id}) }}">{{ publisher.name }}</a>
                {% if not loop.last %}
                    ,
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if lyric.extraInfoHtml is not empty %}
        <div class="panel panel-default">
            <div class="panel-heading">Допълнителна информация</div>
            <div class="panel-body">
                {{ lyric.extraInfoHtml|raw }}
            </div>
        </div>
    {% endif %}

    {% include '@TekstoveSite/Ads/lyric.view.above-text.html.twig' %}
    
    <br/>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if lyric.authorizationStatus is constant('Tekstove\\SiteBundle\\Model\\Lyric\\Lyric::AUTHORIZATION_ALLOWED') %}
                        {{ lyric.text|e|nl2br }}
                    {% elseif  lyric.authorizationStatus is constant('Tekstove\\SiteBundle\\Model\\Lyric\\Lyric::AUTHORIZATION_ARTIST_FORBIDDEN') %}
                        Имаме забрана от изпълнителя!
                    {% else %}
                        Нямаме права да ви покажем текства :( <br/>
                        Собственици на текса може да са:
                        <ul>
                            <li>музикалната компания издала песента
                            <li>изпълнителите
                            <li>текстописецът
                        </ul>
                        според догора, който са сключили. <br/>
                        Без разрешение, ние нямаме право да покажем текста! <br/>
                        Ако сте собственик на текста, моля пишете ни на tekstove.info@gmail.com за съгласие.<br/>
                        Съобщение &quot;Съгласен съм текстовете ми да бъдат показвани на сайта&quot; е напълно достатъчно!<br/>
                    {%  endif %}
                </div>
            </div>
        </div>
        {% if (lyric.getTextBg) %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ lyric.textBg|e|nl2br }}
                </div>
            </div>
        </div>
        {% else %}
            {% for artist in lyric.artists %}
                <a href="{{ path('artistBrowse', {id: artist.id}) }}">научи повече за {{ artist.name }}</a>

                {% if artist.facebookPageId %}
                    <br><br>
                    <a href="https://fb.com/{{ artist.facebookPageId }}">
                        <img src="{{ asset('bundles/site/images/fb/f-ogo_RGB_HEX-58.png') }}" alt="facebook logo" />
                        Следвай {{ artist.Name }} в facebook
                    </a>
                {% endif %}

                {% if not loop.last %}
                <hr>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
