{% extends 'SiteBundle::main.html.twig' %}
{% block content %}
    <div class="row t-forum-breadcrumb">
        <a href="{{ path('tekstove.site.forum.category.list') }}">Форум</a>
        -&gt;
        {{ category.name }}
    </div>
    <table class="t-forum table table-striped table-hover">
        <tr>
            <th>
                Тема
            </th>
            <th>
                Последно мнение
            </th>
        </tr>
{% for topic in topicPagination %}
        <tr>
            <td class="t-forum-main-td">
                <a href="{{ path('tekstove.site.forum.topic.view', { id: topic.id }) }}">
                    <div class="container-fluid">
                        <b>
                            {{ topic.name }}
                        </b>
                    </div>
                </a>
            </td>
            <td>
                от {{ topic.latestPost.user.username }},
                на {{ topic.latestPost.datetime|date }}
            </td>
        </tr>
{% endfor %}
    </table>

    <div class="navigation">
        {{ knp_pagination_render(topicPagination) }}
    </div>
{% endblock %}
