{% extends 'SiteBundle::main.html.twig' %}
{% block content %}
    <div class="row t-forum-breadcrumb">
        <a href="{{ path('tekstove.site.forum.category.list') }}">Форум</a>
        -&gt;
        <a href="{{ path('tekstove.site.forum.topic.list', { categoryId:topic.category.id }) }}">
            {{ topic.category.name }}
        </a>
    </div>
    
    <h1>
        {{ topic.name }}
    </h1>
    
    <div class="row">
        {% for post in postPagination %}
            <div class="col-md-2" style="background-color: #E0E0E0;">
                # {{ post.id }}
            </div>
            
            <div class="col-md-10" style="background-color: #E0E0E0;">
                {{ post.datetime|date }}
            </div>
            
            <div class="col-md-2">
                {{ post.user.username }}
            </div>
            
            <div class="col-md-10">
                {{ post.text }}
            </div>
        {% endfor %}
    </div>
    
    <a href="{{ path('tekstove.site.forum.post.new', { 'topicId': topic.id })|loggedOnly() }}" class="btn btn-success">
        ново мнение
    </a>

    <div class="navigation">
        {{ knp_pagination_render(postPagination) }}
    </div>
{% endblock %}
