{% extends 'SiteBundle::main.html.twig' %}
{% block content %}
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    заглавие
                </th>
                <th>
                    от
                </th>
                <th>
                    дата
                </th>
            </tr>
        </thead>
        <tbody>
            {% for pm in pmPagination %}
                <tr>
                    <td>
                        <a href="{{ path('tekstove.site.user.pm.view', {id: pm.id}) }}">
                            {% if pm.read %}
                                {{ pm.title }}
                            {% else %}
                                <b>
                                    {{ pm.title }}
                                </b>
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        {{ pm.userFrom.username }}
                    </td>
                    <td>
                        {{ pm.datetime|date() }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
    <div class="navigation">
        {{ knp_pagination_render(pmPagination) }}
    </div>
     
{% endblock %}
