{% extends 'SiteBundle::main.html.twig' %}

{% block content %}
    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
        {{ form_row(form.mail) }}
        <div class="form-group">
            <label class="control-label required">Captcha</label>
            <div class="g-recaptcha" data-sitekey="{{ recpatchaKey }}"></div>
        </div>
        {{ form_errors(form) }}
        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js?hl=bg" async defer></script>
{% endblock %}
