{% extends 'SiteBundle::main.html.twig' %}
{% block content %}

    <h1>
        {{ user.username|e }}
    </h1>
    
    {% if (user.avatar) %}
        <br/>
        <br/>
        <img src="{{ user.avatar|e }}" />
    {% endif %}
    
    
    <a href="{{ path('tekstove_site.user.pm.send', {toUserId: user.id}) }}">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> изпрати ЛС 
    </a>
        
    <br/>
    <br/>
    {{ user.about|e|nl2br }}
    
    <div class="panel panel-default">
        <div class="panel-heading">
            Групи
        </div>
        <div class="panel-body"
             <ul>
                {% for group in user.groups %}
                    <li>
                        {{ group.name|e }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    
{#    {% if user.roles %}
        <br/>
        Групи:
        {% for role in user.roles %}
            <img 
                src="{{ asset(role.image) }}" 
                alt="{{ role.name|e }}"
                title="{{ role.name|e }}"
            />
        {% endfor %}
    {% endif %}#}
     
{% endblock %}
