{% extends 'SiteBundle::main.html.twig' %}

{% block content %}
    <div class="col-md-6">
        <div class="t-index-lyrics-block-container">
            <div class="t-index-lyrics-block-header">
                най-нови текстове
            </div>
            <div class="t-index-lyrics-block-lyrics-container">
                {% for lyric in lastLyrics %}
                    <a href="{{ path('lyricView', {id:lyric.id}) }}">
                        {{ lyric.cacheTitleShort }}
                    </a>
                    <br/>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-6 ">
        <div class="t-index-lyrics-block-container">
            <div class="t-index-lyrics-block-header">
                най-нови преводи
            </div>
            <div class="t-index-lyrics-block-lyrics-container">
                {% for lyric in lastTranslated %}
                    <a href="{{ path('lyricView', {id:lyric.id}) }}">
                        {{ lyric.cacheTitleShort }}
                    </a>
                    <br />
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-6">
        <div class="t-index-lyrics-block-container">
            <div class="t-index-lyrics-block-header">
                <a href="#">
                    текстове популярни напоследък  -- Топ 100
                </a>
            </div>
            <div class="t-index-lyrics-block-lyrics-container">
                {% for lyric in popular %}
                    <a href="{{ path('lyricView', {id:lyric.id}) }}">
                        {{ lyric.cacheTitleShort }}
                    </a>
                    <br />
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="t-index-lyrics-block-container">
            <div class="t-index-lyrics-block-header">
                <a href="#">
                    <b>най-преглеждани текстове</b>&nbsp;&nbsp;&nbsp;&nbsp;Топ 100
                </a>
            </div>
            <div class="t-index-lyrics-block-lyrics-container">
                {% for lyric in mostViewed %}
                    <a href="{{ path('lyricView', {id:lyric.id}) }}">
                        {{ lyric.cacheTitleShort }}
                    </a>
                    <br />
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row t-index-albums-container">
        <div class="row">
        <i><b>най-нови албуми</b></i><br>
        </div>
        
{% for album in albums %}
        <div class="col-md-2 text-center">
            <a href="{{ path('tekstove_site_album_view', { id:album.id }) }}">
                <b>
                    {{ album.name|e }}
                    <br />
                    <i>({{ album.year|e }})</i>
                    <br />
                    <img src="{{ album.image|e }}" style="width: 130px; height: 130px;" alt="Обложка" />
                </b>
            </a>
        </div>
{% endfor %}
    </div>

{% endblock %}
