{% extends 'SiteBundle::main.html.twig' %}

{% block content %}
    <div class="col-md-6">
        <div class="t-index-lyrics-block-container">
            <div class="t-index-lyrics-block-header">
                най-нови текстове
            </div>
            <div class="t-index-lyrics-block-lyrics-container">
                {% for lyric in lastLyrics %}
                    <a href="{{ path('lyricView', {id:lyric.id}) }}">
                        {{ lyric.cacheTitleShort }}
                    </a>
                    <br/>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-6 ">
        <div class="t-index-lyrics-block-container">
            <div class="t-index-lyrics-block-header">
                най-нови преводи
            </div>
            <div class="t-index-lyrics-block-lyrics-container">
                {% for lyric in lastTranslated %}
                    <a href="{{ path('lyricView', {id:lyric.id}) }}">
                        {{ lyric.cacheTitleShort }}
                    </a>
                    <br />
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-6">
        <div class="t-index-lyrics-block-container">
            <a href="{{ path('tekstove_api_lyric_top100', {sort: 'popular'}) }}">
                <div class="t-index-lyrics-block-header row">
                    <div class="pull-left">
                        текстове популярни напоследък
                    </div>
                     <div class="pull-right">
                         топ 100
                     </div>
                </div>
            </a>
            <div class="t-index-lyrics-block-lyrics-container">
                {% for lyric in popular %}
                    <a href="{{ path('lyricView', {id:lyric.id}) }}">
                        {{ lyric.cacheTitleShort }}
                    </a>
                    <br />
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="t-index-lyrics-block-container">
            <a href="{{ path('tekstove_api_lyric_top100', {sort: 'viewed'}) }}">
                <div class="t-index-lyrics-block-header row">
                    <div class="pull-left">
                        най-преглеждани текстове
                    </div>
                     <div class="pull-right">
                         топ 100
                     </div>
                </div>
            </a>
            <br class="clearfix" />
            <div class="t-index-lyrics-block-lyrics-container">
                {% for lyric in mostViewed %}
                    <a href="{{ path('lyricView', {id:lyric.id}) }}">
                        {{ lyric.cacheTitleShort }}
                    </a>
                    <br />
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
        {% include '@TekstoveSite/Ads/index.responsive.html.twig' %}
    <div class="clearfix"></div>

    <div class="row t-index-albums-container">
        <div class="row">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i><b>най-нови албуми</b></i><br>
        </div>
        
        <div class="row">
{% for album in albums %}
                <div class="col-md-2 text-center">
                    <a href="{{ path('tekstove_site_album_view', { id:album.id }) }}">
                        {{ album.name|truncate(8)|e }}
                        <br/>
                        <i>({{ album.year|e }})</i>
                        <br/>
                        <img src="{{ album.image|e }}" style="max-width: 100%; height: auto;" alt="Обложка" />
                    </a>
                </div>
{% endfor %}
        </div>
    </div>

{% endblock %}
