{% extends 'SiteBundle::main.html.twig' %}

{% block htmlBody %}
    <div id="fb-root"></div>
    <!-- Load Facebook SDK for JavaScript -->
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="col-md-6">
        <div class="t-index-lyrics-block-container">
            <div class="t-index-lyrics-block-header">
                най-нови текстове
            </div>
            <div class="t-index-lyrics-block-lyrics-container">
                {% for lyric in lastLyrics %}
                    <a href="{{ path('lyricView', {id:lyric.id}) }}" title="{{ lyric.title }}">
                        {{ lyric.cacheTitleShort }}
                    </a>
                    <br/>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-6 ">
        <div class="t-index-lyrics-block-container">
            <div class="t-index-lyrics-block-header">
                най-нови преводи
            </div>
            <div class="t-index-lyrics-block-lyrics-container">
                {% for lyric in lastTranslated %}
                    <a href="{{ path('lyricView', {id:lyric.id}) }}" title="{{ lyric.title }}">
                        {{ lyric.cacheTitleShort }}
                    </a>
                    <br />
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-6">
        <div class="t-index-lyrics-block-container">
            <a href="{{ path('tekstove_api_lyric_top100', {sort: 'popular'}) }}">
                <div class="t-index-lyrics-block-header row">
                    <div class="pull-left">
                        текстове популярни напоследък
                    </div>
                     <div class="pull-right">
                         топ 100
                     </div>
                </div>
            </a>
            <div class="t-index-lyrics-block-lyrics-container">
                {% for lyric in popular %}
                    <a href="{{ path('lyricView', {id:lyric.id}) }}" title="{{ lyric.title }}">
                        {{ lyric.cacheTitleShort }}
                    </a>
                    <br />
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="t-index-lyrics-block-container">
            <div class="t-index-lyrics-block-lyrics-container">
                {% if random(1) > 0 %}
                    <div
                            class="fb-page"
                            data-href="https://www.facebook.com/&#x442;&#x435;&#x43a;&#x441;&#x442;&#x43e;&#x432;&#x435;&#x438;&#x43d;&#x444;&#x43e;-121306641245195/"
                            data-tabs="timeline"
                            data-small-header="true"
                            data-height="400"
                            data-adapt-container-width="true"
                            data-hide-cover="true"
                            data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/&#x442;&#x435;&#x43a;&#x441;&#x442;&#x43e;&#x432;&#x435;&#x438;&#x43d;&#x444;&#x43e;-121306641245195/" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/&#x442;&#x435;&#x43a;&#x441;&#x442;&#x43e;&#x432;&#x435;&#x438;&#x43d;&#x444;&#x43e;-121306641245195/">текстове.инфо</a>
                        </blockquote>
                    </div>
                {% else %}
                    <a href="{{ path('tekstove_api_lyric_top100', {sort: 'viewed'}) }}">
                        <div class="t-index-lyrics-block-header row">
                            <div class="pull-left">
                                най-преглеждани текстове
                            </div>
                            <div class="pull-right">
                                топ 100
                            </div>
                        </div>
                    </a>

                    <div class="t-index-lyrics-block-lyrics-container">
                        {% for lyric in mostViewed %}
                            <a href="{{ path('lyricView', {id:lyric.id}) }}" title="{{ lyric.title }}">
                                {{ lyric.cacheTitleShort }}
                            </a>
                            <br />
                       {% endfor %}
                    </div>

                {% endif %}

            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row t-index-albums-container">
        <div class="row">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i><b>най-нови албуми</b></i><br>
        </div>

        <div class="row">
{% for album in albums %}
                <div class="col-md-2 text-center t-index-album">
                    <a href="{{ path('tekstove_site_album_view', { id:album.id }) }}" title="{{ album.name }}">
                        {{ album.name }}
                        <br/>
                        <i>({{ album.year }})</i>
                        <br/>
                        <img src="{{ album.image }}" style="max-width: 100%; height: auto;" alt="Обложка" />
                    </a>
                </div>
{% endfor %}
        </div>
    </div>

{% endblock %}
