<div  class="row" id="t-horizontal-menu-mobile">
    <div class="t-menu-horizontal-mobile">
        <a href="{{ path('index') }}">Начало</a>
        |
        <a href="{{ path('tekstove_site.lyric.search') }}" rel="search">Търсачка</a>
        |
        <a href="{{ path("chat") }}">Чат</a>
        |
        {% if not app.user %}
            <a href="{{ path('login') }}">Вход</a>
        {% else %}
            <a href="{{ path('logout') }}">Изход</a>
        {% endif %}
        |
        <div id="t-menu-horizontal-toggle" class="pull-right">
            Menu <span class="glyphicon glyphicon-th-list"></span>
        </div>
    </div>
</div>

<nav>
    <div id="t-menu-horizontal" class="row t-menu-horizontal">
        <ul>
            <li class="t-menu-horizontal-group">
                <ul>
                    <li><a href="{{ path('index') }}">Начало</a></li>
            {#                        <a href="#" rel="search"><del>Разгледай</del></a>&nbsp;
            {#                        <a href="#"><del>Албуми</del></a>&nbsp;#}
                    <li><a href="{{ path('tekstove_site.lyric.search') }}" rel="search">Търсачка</a></li>
                    <li><a href="{{ path('tekstove.site.forum.category.list') }}">Форум</a></li>
                    <li><a href="{{ path("chat") }}">Чат</a></li>
                </ul>
            </li>

            <li class="t-menu-horizontal-group">
                <ul>
                    <li><a href="{{ path('lyricAdd') }}" class="top">Изпрати Tекст</a></li>

                    {% if app.user %}
                        <li><a href="{{ path("tekstove_site_album_new") }}">Изпрати Албум</a></li>
                    {% endif %}
                </ul>
            </li>

            <li class="t-menu-horizontal-group">
                <ul>
                    {% if app.user %}
                        <li><a href="{{ path('userView', {id: app.user.id}) }}">{{ app.user.username|e }}</a></li>
                        <li><a href="{{ path('tekstove.site.user.edit', {id: app.user.id}) }}">Потребителски данни</a></li>
                        <li><a href="{{ path('logout') }}">изход</a></li>
                    {% else %}
                        <li><a href="{{ path('login') }}">Вход</a></li>
                        <li><a href="{{ path('register') }}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </li>

            {% if app.user %}
            <li class="t-menu-horizontal-group visible-xs">
                <ul>
                    {% include '@Site/main/userMenu/list.html.twig' %}
                </ul>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>
