<nav>
    <div class="row t-menu-horizontal">
        <div class="col-md-5">
            <a href="{{ path('index') }}">Начало</a>&nbsp;
            {#                        <a href="#" rel="search"><del>Разгледай</del></a>&nbsp;#}
            {#                        <a href="#"><del>Албуми</del></a>&nbsp;#}
            <a href="{{ path('tekstove_site.lyric.search') }}" rel="search">Търсачка</a>&nbsp;
            <a href="{{ path('tekstove.site.forum.category.list') }}">Форум</a>&nbsp;
            <a href="{{ path("chat") }}">Чат</a>
        </div>

        <div class="col-md-3">
            <a href="{{ path('lyricAdd') }}" class="top">Изпрати Tекст</a>&nbsp;
            {#                        <a href="#"><del>Изпрати Албум</del></a>&nbsp;#}
        </div>

        <div class="col-md-4">
            {% if app.user %}
                <a href="{{ path('userView', {id: app.user.id}) }}">{{ app.user.username|e }}</a>
                <a href="{{ path('tekstove.site.user.edit', {id: app.user.id}) }}">Потребителски данни</a>
                <a href="{{ path('logout') }}">изход</a>
            {% else %}
                <a href="{{ path('login') }}">Вход</a>
                <a href="{{ path('register') }}">Регистрация</a>
            {% endif %}
        </div>
    </div>
</nav>
